* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.section {
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
    align-items: center;
    padding: 30px;
    display: flex;
}

.container {
    width: 100%;
    display: flex;
    margin-left: 20px;
    padding: 40px;
    background-color: white;
    box-shadow: 0 4px 8px(rgba(0, 0, 0, 0.1));
    border-radius: 8px;
}

.container-section {
    width: 80%;
    padding-right: 20px;
    box-sizing: border-box;
    float: left;
}

.image-section {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    width: 315px;
    height: 350px;
    border-radius: 5%;
    margin-right: 20px;
    float: right;
    display: flex;
    align-items: start;
    object-fit: cover;
}

.title h1 {
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 20px;
}

.content h3 {
    margin-top: 20px;
    color: #5d5d5d;
}

.content p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #333;
}

.button a {
    display: inline-block;
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
    position: relative;
}

.button a:hover {
    background-color: coral;
    color: #fff;
}

.social a {
    margin-top: 40px;
}

.social a i {
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
    margin-top: 20px;
}

.social a i:hover {
    color: black;
}

@media (max-width:768px) {
    .container {
        width: 100%;
        display: flex;
        margin-left: 0px;
        padding: 20px;
        background-color: white;
        box-shadow: 0 4px 8px(rgba(0, 0, 0, 0.1));
        border-radius: 8px;
        display: flex;
        flex-direction: column-reverse;
    }

    .container-section {
        width: 100%;
        padding-right: 0;
        box-sizing: border-box;
        float: none;
        display: block;
        text-align: center;
    }
    .image-section {
        float: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto 0;
    }
    .image-section img {
        width: 250px;
        height: auto;
        border: #ddd;
        border-radius: 2%;
    }
    .title {
        text-align: center;
        font-size: 19px;
}
.button{
    text-align: center;

}
.button a{
    padding: 9px 30px;
    }}